/* This is a comment */
body {
  font-family: Calibri, sans-serif;
  background-color: #f4f4f4;
}

h1 {
  color: #321;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}
}

.container {
  width: 80%;
  margin: 0 auto;
}